# Ignore Python virtual environment
venv/

# Byte-compiled files
__pycache__/
*.pyc
*.pyo

# Ignore environment files
.env

# Ignore IDE-specific files
.vscode/
.idea/

# EER Diagrams
*.mwb

# database configuration
config.py