<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>

        <!-- Page custom CSS -->
        {% block customCSS %}{% endblock %} 

        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- Poppins -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">



    </head>
    <body>
        <header class="d-flex align-items-center">
            <div class="container d-flex">
                <div class="d-flex align-items-center gap-3">
                    <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}">
                    <span class="poppins-bold fxl">Hybrid Hub</span>
                </div>

                <div class="d-flex align-items-center ms-5 gap-3">

                    <!-- Navigation bar for Admin -->
                    {% if session['access'] == 0 %}
                    <a href="{{ url_for('admin') }}" class="nav-item d-flex align-items-center gap-3 {% if current_url == url_for('admin') %}nav-active{% endif %}">
                        <i class="bi bi-columns-gap"></i>
                        <span class="poppins-semibold">Dashboard</span>
                    </a>
                    <a href="{{ url_for('desk_manager') }}" class="nav-item d-flex align-items-center gap-3 {% if current_url == url_for('desk_manager') %}nav-active{% endif %}">
                        <i class="bi bi-arrows-move"></i>
                        <span class="poppins-semibold">Desk Manager</span>
                    </a>
                    <a href="{{ url_for('employee_manager') }}" class="nav-item d-flex align-items-center gap-3 {% if current_url == url_for('employee_manager') %}nav-active{% endif %}">
                        <i class="bi bi-people"></i>
                        <span class="poppins-semibold">Employees</span>
                    </a>
                    <a href="#" class="nav-item d-flex align-items-center gap-3">
                        <i class="bi bi-graph-up"></i>
                        <span class="poppins-semibold">Analytics</span>
                    </a>

                    <!-- Navigation bar for Employees -->
                    {% else %}
                    <a href="{{ url_for('user') }}" class="nav-item d-flex align-items-center gap-3 {% if current_url == url_for('user') %}nav-active{% endif %}">
                        <i class="bi bi-columns-gap"></i>
                        <span class="poppins-semibold">Dashboard</span>
                    </a>
                    <div class="dropdown">
                        <a href="#" class="nav-item d-flex align-items-center gap-3 {% if current_url == url_for('book_desk') or current_url == url_for('book_meeting') %}nav-active{% endif %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-calendar4-event"></i>
                            <span class="poppins-semibold">Booking</span>
                        </a>

                        <ul class="dropdown-menu dropdown-content mt-2">
                            <li><a class="dropdown-item" href="{{ url_for('book_desk') }}">
                                <span class="material-symbols-outlined">table_restaurant</span>
                                <span class="poppins-medium">Book a Desk</span>
                            </a></li>
                            <li><a class="dropdown-item" href="{{ url_for('book_meeting') }}">
                                <span class="material-symbols-outlined">meeting_room</span>
                                <span class="poppins-medium">Book a Meeting Room</span>
                            </a></li>
                        </ul>
                    </div>
                    
                    <a href="#" class="nav-item d-flex align-items-center gap-3">
                        <i class="bi bi-people"></i>
                        <span class="poppins-semibold">Meeting Rooms</span>
                    </a>
                    <a href="#" class="nav-item d-flex align-items-center gap-3">
                        <i class="bi bi-graph-up"></i>
                        <span class="poppins-semibold">Analytics</span>
                    </a>
                    {% endif %}
                </div>

                <div class="d-flex align-items-center ms-auto">
                    <div class="dropdown">
                        <div class="profile-frame" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if session.get('picture') %}
                                <img src="{{ session['picture'] }}" alt="Profile picture">
                            {% else %}
                                <img src="{{ url_for('static', filename='images/default.png') }}" alt="Profile picture">
                            {% endif %}
                        </div>
                        <div id="profileMenu" class="dropdown-menu dropdown-content mt-2">
                            <span class="d-block poppins-bold fxs">{{ session['data']['name'] }}</span>
                            <div class="mt-2">
                                <a href="#">
                                    <i class="bi bi-gear"></i>
                                    <span class="poppins-medium">Account Settings</span>
                                </a>
                                <a class="logout-btn" href="{{ url_for('logout') }}">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span class="poppins-medium">Log Out</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% block content %}{% endblock %}

        <!-- JS imports -->
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        {% block jsimports %}{% endblock %}

    </body>

</html>