{% extends "base.html" %}

{% block title %}Booking | Meeting Rooms{% endblock %}

{% block content %}
<div class="banner">
    <div class="container">
        <div class="banner-content poppins-semibold display-5"><span>Meeting Room Booking</span></div>
    </div>
</div>

<section class="container">
    <div class="booking-widget d-flex">
        <div class="booking-widget-content d-flex align-items-center">
            <div>
                <div class="d-flex align-items-center gap-2">
                    <input id="date-input" type="datetime-local" class="poppins-semibold theme-3">
                    <select id="duration-input" class="form-select poppins-semibold theme-3">
                        <option value="1" selected>1 hour</option>
                        <option value="2">2 hours</option>
                        <option value="3">3 hours</option>
                        <option value="4">4 hours</option>
                    </select>
                </div>
                
                <span class="poppins-semibold d-block fxxl mt-1">Let's see who's in.</span>
            </div>
        </div> 

        <div class="counter-group d-flex gap-3 ms-auto">
            <div class="booking-widget-counter">
                <span class="poppins-semibold theme-3">OCCUPIED</span>
                <span id="active-counter" class="d-block poppins-bold display-4 mt-1">{{ booked }}</span>
            </div>
            <div class="booking-widget-counter">
                <span class="poppins-semibold theme-3">ROOMS LEFT</span>
                <span id="member-counter" class="d-block poppins-bold display-4 mt-1">{{ left }}</span>
            </div>
        </div>
    </div>
</section>

{% if message %}
<section class="container">
    <div class="success-msg">
        <span class="poppins-medium">{{ message }}</span>
    </div>
</section>
{% endif %}

<section class="container">
    <div id="map-layout"></div>
</section>

<section class="container">
    <form action="{{ url_for('meeting_booking_logic') }}" method="POST" onsubmit="return bookDesk()">
        <input id="meetingID" class="d-none" type="text" name="meetingID">
        <input id="target-start" class="d-none" type="text" name="target-start">
        <input id="duration" class="d-none" type="text" name="duration">

        <div class="d-flex align-items-center gap-4">
            <button class="submit-btn d-flex align-items-center justify-content-center gap-3" type="submit">
                <span class="material-symbols-outlined fmd">event_available</span>
                <span class="poppins-semibold">Book this meeting room</span>
            </button>
    
            <span id="selectDeskError" class="d-none poppins-semibold fmd text-danger">! Please select a meeting room</span>
        </div>
    </form>
</section>

<script id="desks_json" type="application/json">{{ desks_json | safe }}</script>
<script id="booked_json" type="application/json">{{ booked_json | safe }}</script>
{% endblock %}

{% block jsimports %}
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    <script src="{{ url_for('static', filename='js/book_meeting.js') }}"></script>
{% endblock %}