{% extends "base.html" %}

{% block title %}Analytics Dashboard{% endblock %}


{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-5 poppins-bold">Workspace Analytics</h1>

    <div class="row">
        <!-- desk utilization -->
        <div class="col-md-6 mb-4">
            <div class="card" style="width: 40rem; height: 40rem;">
                <img class="card-img-top" class="img-fluid" src="/personal_desk_booking_history_graph" alt="Personal Desk Booking History Graph " style="width: 100%; height: 100%; object-fit: contain;">
                <div class="card-body">
                    <p class="card-text poppins-regular">Displays an your past bookings over time.</p>
                    <p class="card-text poppins-semibold">Helps track your own office attendance.</p>
                </div>
            </div>
        </div>

        <!-- employees attendance trend -->
        <div class="col-md-6 mb-4">
            <div class="card" style="width: 40rem; height: 40rem;">
                <img class="card-img-top" class="img-fluid" src="/preferred_desk_usage_frequency_graph" alt="Preferred Desk Usage Frequency Graph " style="width: 100%; height: 100%; object-fit: contain;">
                <div class="card-body">
                    <p class="card-text poppins-regular" > Shows which desks you book most often.</p>
                    <p class="card-text poppins-semibold"> Helps you determine desk that match your preferences.
                    </p>
                </div>
            </div>
        </div>

        <!-- desk availability status -->
        <div class="col-md-6 mb-4">
            <div class="card" style="width: 40rem; height: 40rem;">
                <img class="card-img-top" class="img-fluid" src="/average_monthly_attendance_graph" alt="Average Monthly Attendance Graph " style="width: 100%; height: 100%; object-fit: contain;">
                <div class="card-body">
                    <p class="card-text poppins-regular">Shows the percentage of office vs. remote work days.</p>
                    <p class="card-text poppins-semibold">Helps you balance your hybrid schedule.</p>
                </div>
            </div>
        </div>

        <!-- weekly peak office usage -->
        <div class="col-md-6 mb-4">
            <div class="card" style="width: 40rem; height: 40rem;">
                <img class="card-img-top" class="img-fluid" src="/weekly_peak_office_usage_graph" alt="Weekly Peak Office Usage Graph " style="width: 100%; height: 100%; object-fit: contain;">
                <div class="card-body">
                    <p class="card-text poppins-regular">Shows which days of the week have the highest bookings.</p>
                    <p class="card-text poppins-semibold">Helps in planning on-site meetings and events more effectively.</p>
                </div>
            </div>
        </div>
        
        <!-- department booking distribution -->
        <div class="col-md-6 mb-4">
            <div class="card" style="width: 40rem; height: 40rem;">
                <img class="card-img-top" class="img-fluid" src="/department_booking_distribution_graph" alt="Department Booking Distribution Graph " style="width: 100%; height: 100%; object-fit: contain;">
                <div class="card-body">
                    <p class="card-text poppins-regular"> Show which departments use desks the most.</p>
                    <p class="card-text poppins-semibold"> Understand which departments need more or fewer desks.</p>
                </div>
            </div>
        </div>  
        
        <!-- preference day of employees -->
        <div class="col-md-6 mb-4">
            <div class="card" style="width: 40rem; height: 40rem;">
                <img class="card-img-top" class="img-fluid" src="/preferred_days_by_employees_graph" alt="Preference Day By Employees Graph " style="width: 100%; height: 100%; object-fit: contain;">
                <div class="card-body">
                    <p class="card-text poppins-regular">Display employees' preferred working days.</p>
                    <p class="card-text poppins-semibold">Adjust resource allocation for popular days.</p>
                </div>
            </div>
        </div>

        

        
        
    </div>
</div>
{% endblock %}

